<div class="header">
  <div class="form-container">
    <h2>Formulario de Registro</h2>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="form-grid">
        <jt-input formControlName="id" [inputId]="'product-id'" [label]="'ID'" />
        <jt-input formControlName="name" inputId="product-name" label="Nombre" />
        <jt-input formControlName="description" inputId="product-description" label="Descripcion" />
        <jt-input formControlName="logo" inputId="product-logo" label="Logo" />
        <jt-input
          formControlName="date_release"
          inputId="product-date_release"
          label="Fecha Liberación"
        />
        <jt-input
          formControlName="date_revision"
          inputId="product-date_revision"
          [label]="'Fecha Revisión'"
        />
      </div>

      <div class="form-actions">
        <a type="button" class="button-go-back" [routerLink]="''">Regresar</a>
        <button type="button" class="reset-button" (click)="onReset()">Reiniciar</button>
        <button type="submit" class="submit-button">Enviar</button>
      </div>
    </form>
  </div>
</div>
