<header class="app-header">
  <span class="icon-bank">
    <jt-img [path]="'icons/bank-icon.png'" [height]="30" [width]="30" [alt]="'bank-icon'" />
  </span>
  <span class="app-name">BANCO</span>
</header>

<div class="container">
  <section class="form-actions-table">
    <div class="search-bar">
      <input type="text" placeholder="Search..." (input)="filterProducts($event)" />
    </div>
    <a class="button" [routerLink]="'create'">Agregar</a>
  </section>

  <div class="card">
    <table class="data-table">
      <thead>
        <tr>
          <th class="col-logo">Logo</th>
          <th>Nombre del producto</th>
          <th>
            Descripción
            <span class="info-icon">i</span>
          </th>
          <th>
            Fecha de liberación
            <span class="info-icon">i</span>
          </th>
          <th>
            Fecha de reestructuración
            <span class="info-icon">i</span>
          </th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (product of productStore.products(); track product.id) {
          <tr  class="clickable-row">
            <td class="col-logo">
              <div class="logo-placeholder">JG</div>
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.date_release }}</td>
            <td>{{ product.date_revision }}</td>
            <td>
              <a class="button bg-primary" (click)="goToProduct(product.id)">Editar</a
              ><a class="button bg-danger" (click)="openDeleteModal(product)">Eliminar</a>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="5" class="no-data">No hay datos disponibles</td>
          </tr>
        }
      </tbody>
    </table>

    <div class="progress-bar"></div>
    <span class="results-count">{{ productStore.productCounter() }}</span>

    <jt-pagination
      [options]="PRODUCT_PAGE_OPTIONS"
      [totalResults]="productStore.pagination().totalResults"
      [pageSizeInput]="productStore.pagination().pageSize"
      (onPageSize)="productStore.paginate(1, $event)"
    />
  </div>
</div>

<jt-product-dialog
  [show]="showModal()"
  [name]="selectedProductName()"
  (cancel)="onCancel()"
  (confirm)="onConfirm()"/>
