.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-top: 15px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dropdown {
  padding: 5px 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--card-background);
  color: var(--text-color);
  font-size: 0.9rem;
  cursor: pointer;
  outline: none;
}
